body {
    font-family: $font-family-lato;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-lato;
}

.logged-in-as {
  margin:0;
  border-radius:0;
}

// Box
.box {
    .box-header, .box-body, .box-footer {
        padding: 15px 20px;
    }
}

// Margin/Padding Helpers
$margin-padding: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;
@each $mp in $margin-padding {
  .mt-#{$mp} {
    margin-top:#{$mp}px !important;
  }
  .mb-#{$mp} {
    margin-bottom:#{$mp}px !important;
  }
  .ml-#{$mp} {
    margin-left:#{$mp}px !important;
  }
  .mr-#{$mp} {
    margin-right:#{$mp}px !important;
  }

  .pt-#{$mp} {
    padding-top:#{$mp}px !important;
  }
  .pb-#{$mp} {
    padding-bottom:#{$mp}px !important;
  }
  .pl-#{$mp} {
    padding-left:#{$mp}px !important;
  }
  .pr-#{$mp} {
    padding-right:#{$mp}px !important;
  }
}

// Content Header
.content-header {
    h1 {
        font-weight: 300;
        text-transform: uppercase;
    }
}

@media(min-width: $screen-md) {
    .content-wrapper {
        padding: 10px 20px;

        // Content Header
        .content-header {
            margin-bottom: 10px;
        }
    }
}


// Select 2
.select2-container--bootstrap {
    .select2-selection, .select2-selection--single .select2-selection__rendered, .select2-search--dropdown .select2-search__field {
        border-radius: 0 !important;
        box-shadow: none !important;
        line-height: 2em;
    }
}
